<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <h1>Xin chào,</h1>
    <h2>Trạng thái đơn hàng : <strong>Đã đặt hàng</strong></h2>
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th class="text-center">Price</th>
            <th class="text-center">Total</th>
        </tr>
    </thead>
    <tbody>
        {{#each data.productInOrder}}
        <tr>
            <td class="col-sm-8 col-md-6">
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading"><a href="#">{{this.name}}</a></h4>
                        <h5 class="media-heading"><a href="#">{{this.description}}</a></h5>
                    </div>
                </div>
            </td>
            <td class="col-sm-1 col-md-1" style="text-align: center">
                <input class="form-control" id="exampleInputEmail1" value="{{this.count}}" disabled>
            </td>
            <td class="col-sm-1 col-md-1 text-center"><strong>{{this.cost}} $</strong></td>
            <td class="col-sm-1 col-md-1 text-center">
                <strong>{{this.total}} $</strong></td>
        </tr>
        {{/each}}
        <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td>
                <h5>Subtotal</h5>
            </td>
            <td class="text-right">
                <h5><strong>{{data.cost}} $</strong></h5>
            </td>
        </tr>
        <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td>
                <h3>Total</h3>
            </td>
            <td class="text-right">
                <h3><strong>{{data.cost}} $</strong></h3>
            </td>
        </tr>
    </tbody>
</body>

</html>